<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :headers="headers"
      :loading="types.loading"
      :objects="types"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
       :show-all-fields="true"
    ></TableModel>
    <CreateUpdatePriceType
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :m-type="mType"
    ></CreateUpdatePriceType>
    <ShowDetailPriceType
      @onClose="onCloseDetails"
      :dialog="openDetails"
      :m-type="mType"
    ></ShowDetailPriceType>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import CustomToolbar from "../../../components/CustomToolbar";
import PriceType from "../../../models/PriceType/PriceType";
import PriceTypes from "../../../models/PriceType/PriceTypes";
import CreateUpdatePriceType from "./CreateUpdatePriceType";
import ShowDetailPriceType from "./ShowDetailPriceType";

export default {
  name: "PriceTypeMain",
  components: {
    CustomToolbar,
    TableModel,
    CreateUpdatePriceType,
    ShowDetailPriceType
  },
  data() {
    return {
      types: new PriceTypes(),
      mType: new PriceType(),
      title: "",
      open: false,
      headers: [],
      openDetails: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.headers = [
        { text: "Id", value: "id", align: "center" },
        { text: "Nombre", value: "name", align: "center" },
        { text: "Piezas mínimas", value: "min_qty", align: "center" },
        { text: "Acciones", value: "actions", align: "center" }
      ];
      this.types.fetch();
      this.title = "Tipos de precio";
    },
    onEdit(object) {
      this.mType = object;
      this.mType.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.mType = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.types.fetch();
    },
    openDialog() {
      this.mType = new PriceType();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.types.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.types.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.types.fetch();
    }
  }
};
</script>

<style scoped></style>
