<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-tabs centered fixed-tabs>
      <v-tab>
        Datos generales
      </v-tab>
      <v-tab>
        Precios
      </v-tab>
      <v-tab-item>
        <v-container fluid>
          <v-card class="rounded-card">
            <v-card-text>
              <v-layout column>
                <v-btn color="primary" dark @click.prevent="init"
                :loading="product.loading">
                  <v-icon>refresh</v-icon>
                  <span>Recargar datos</span>
                </v-btn>
                <v-layout column v-if="!product.loading">
                  <v-layout row justify-center>
                  <v-text-field
                    v-model="product.name"
                    label="Nombre"
                  ></v-text-field>
                  <v-text-field
                    v-model="product.contains"
                    label="Contiene"
                  ></v-text-field>
                  <v-text-field
                    type="number"
                    v-model="product.stock"
                    label="Stock"
                  ></v-text-field>
                </v-layout>
                <v-layout row justify-center>
                  <v-text-field
                    v-model="product.barcode"
                    label="Código de barras"
                  ></v-text-field>
                  <v-text-field
                    v-model="product.quantum_satis"
                    label="Cantidad recomendada"
                  ></v-text-field>
                </v-layout>
                <v-layout column>
                  <v-textarea
                    v-model="product.description"
                    label="Descripción"
                  ></v-textarea>
                  <v-textarea
                    v-model="product.formula"
                    label="Fórmula"
                  ></v-textarea>
                </v-layout>
                <v-layout row>
                  <v-layout column>
                    <p class="text-md-left">Categoría</p>
                    <v-select
                      v-model="product.category_id"
                      :items="categories.models"
                      item-text="name"
                      item-value="id"
                      label="Seleccione una categoría:"
                      solo
                      outline
                      no-data-text="No hay categorías disponibles"
                    ></v-select>
                  </v-layout>

                  <v-layout column>
                    <p class="text-md-left">Vía de administración</p>
                    <v-select
                      v-model="product.via_id"
                      :items="vias.models"
                      item-text="name"
                      item-value="id"
                      label="Seleccione una vía de administración:"
                      solo
                      outline
                      no-data-text="No hay vías de administración disponibles"
                    ></v-select>
                  </v-layout>
                </v-layout>
                <v-layout>
                  <v-layout column>
                    <p class="text-md-left">Categoría</p>
                    <v-select
                      v-model="product.country_id"
                      :items="countries.models"
                      item-text="name"
                      item-value="id"
                      label="Seleccione un país fabricante:"
                      solo
                      outline
                      no-data-text="No hay países fabricantes disponibles"
                    ></v-select>
                  </v-layout>
                </v-layout>
                </v-layout>
                
              </v-layout>
            </v-card-text>

            <DialogActions
              color="blue darken-1"
              text="Guardar"
              :loading="loading"
              @onClickSave="saveProduct"
              @onReject="closed"
              :show-save="showSaveGeneral"
            ></DialogActions>
          </v-card>
        </v-container>
      </v-tab-item>
      <v-tab-item>
        <PriceMain :product="product"></PriceMain>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import Product from "../../../models/Products/Product";
import Categories from "../../../models/Categories/Categories";
import Vias from "../../../models/Vias/Vias";
import Countries from "../../../models/Countries/Countries";
import CustomToolbar from "../../../components/CustomToolbar.vue";
import DialogActions from "../../../components/DialogActions.vue";
import PriceMain from "../Prices/PriceMain.vue";

export default {
  name: "ConfigProducts",
  components: { CustomToolbar, DialogActions, PriceMain },
  data() {
    return {
      title: "Configuración de producto",
      categories: new Categories(),
      vias: new Vias(),
      countries: new Countries(),
      loading: false,
      showSaveGeneral: true,
      showSavePrices: false,
      product: new Product()
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.categories.fetch();
      this.vias.fetch();
      this.countries.fetch();
      this.product.set('id',this.$route.params.id)
      this.product.fetch();
    },
    closed: function() {
      this.$router.push({ name: "products" });
    },
    saveProduct: function() {
      this.loading = true;
      var promise;
      var self = this;
      promise = this.product.save();
      promise
        .then(function() {
          self.loading = false;
        })
        .catch(function() {
          self.loading = false;
        });
    }
  }
};
</script>
<style scoped>
.rounded-card {
  border-radius: 8px;
  height: auto;
  padding: auto;
}
</style>
