<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :loading="types.loading"
      :objects="types"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
    ></TableModel>
    <CreateUpdatePaymentType
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :m-type="mType"
    ></CreateUpdatePaymentType>
    <ShowDetailPriceType
      @onClose="onCloseDetails"
      :dialog="openDetails"
      :m-type="mType"
    ></ShowDetailPriceType>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import CustomToolbar from "../../../components/CustomToolbar";
import PaymentType from "../../../models/PaymentType/PaymentType";
import PaymentTypes from "../../../models/PaymentType/PaymentTypes";
import CreateUpdatePaymentType from "./CreateUpdatePaymentType";
import ShowDetailPriceType from "./ShowDetailPriceType";

export default {
  name: "PaymentTypeMain",
  components: {
    CustomToolbar,
    TableModel,
    CreateUpdatePaymentType,
    ShowDetailPriceType
  },
  data() {
    return {
      types: new PaymentTypes(),
      mType: new PaymentType(),
      title: "",
      open: false,
      headers: [],
      openDetails: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.types.fetch();
      this.title = "Tipos de pago";
    },
    onEdit(object) {
      this.mType = object;
      this.mType.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.mType = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.types.fetch();
    },
    openDialog() {
      this.mType = new PaymentTypes();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.types.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.types.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.types.fetch();
    }
  }
};
</script>

<style scoped></style>
