<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="!price.id">Agregar precio</span>
          <span class="headline" v-if="price.id">Editar precio</span>
        </v-card-title>
        <v-card-text>
          <v-layout column>
            <p class="text-md-left">Precio</p>
            <money
                    v-bind="money"
                    v-model="currentPrice.unit_price"
            ></money>
          </v-layout>
          <v-layout column>
            <p class="text-md-left">Tipo</p>
            <v-select
              v-model="currentPrice.price_type_id"
              :items="types.models"
              item-text="name"
              item-value="id"
              label="Seleccione un tipo de precio:"
              solo
              outline
              no-data-text="No hay tipos de precios disponibles"
            ></v-select>
          </v-layout>
          <v-text-field
            v-model="currentPrice.description"
            label="Descripción"
          ></v-text-field>
        </v-card-text>
        <DialogActions
          color="blue darken-1"
          text="Aceptar"
          :loading="loading"
          @onClickSave="saveSeller"
          @onReject="closed"
          :show-save="showSave"
        ></DialogActions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>
import ErrorSnackBar from "../../../components/ErrorSnackBar";
import Price from "../../../models/Prices/Price";
import DialogActions from "../../../components/DialogActions";
import PriceTypes from "../../../models/PriceType/PriceTypes";
import Product from "../../../models/Products/Product";
import { Money } from "v-money";

export default {
  name: "CreateUpdatePrice",
  components: { ErrorSnackBar, DialogActions, Money },
  props: {
    dialog: Boolean,
    price: Price,
    product: Product
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false,
      loading: false,
      showSave: true,
      types: new PriceTypes(),
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        precision: 2,
        masked: false /* doesn't work with directive */
      }
    };
  },
  created() {
    this.init();
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentPrice: {
      get() {
        if (this.price.id) {
          return this.price;
        } else {
          return new Price();
        }
      }
    }
  },
  methods: {
    init() {
      this.errorMessage = "No se pudo realizar la petición.";
      this.types.fetch();
    },
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    },
    saveSeller: function() {
      this.loading = true;
      this.currentPrice.product_id = this.product.id;
      var promise;
      var self = this;
      promise = this.currentPrice.save();
      promise
        .then(function() {
          self.loading = false;
          self.show = false;
          self.$emit("onSuccess");
        })
        .catch(function(error) {
          self.loading = false;
          self.errorShow = true;
          console.log(error);
        });
    },
    
  }
};
</script>

<style scoped></style>
