<template>
  <v-container fluid>
    <v-card class="rounded-card">
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark @click.prevent="loadPrices">
          <v-icon>refresh</v-icon>
          <span>Refrescar</span>
        </v-btn>
        <v-btn color="#00B23D" dark @click.prevent="openDialog">
          <v-icon>add</v-icon>
          <span>Agregar</span>
        </v-btn>
      </v-card-actions>
      <TablePrices
        :loading="localPrices.loading"
        :headers="headers"
        :no-data="noData"
        :objects="localPrices"
        @onEdit="onEdit"
        @onDeleteSuccess="onDeleteSuccess"
        @onShowDetails="onShowDetail"
        :show-all-fields="true"
      ></TablePrices>
      <CreateUpdatePrice
              :product="product"
        @onClose="dialogOnCloseEvent"
        @onSuccess="dialogOnCloseEvent"
        :dialog="open"
        :price="price"
      ></CreateUpdatePrice>
      <ShowPrice
              :product="product"
              @onClose="onCloseDetails"
              @onSuccess="dialogOnCloseEvent"
              :dialog="openDetails"
              :price="price"
      ></ShowPrice>
      <DialogActions
        color="blue darken-1"
        text="Guardar"
        :loading="loading"
        @onReject="closed"
        :show-save="showSave"
      ></DialogActions>
    </v-card>
  </v-container>
</template>

<script>
import DialogActions from "../../../components/DialogActions.vue";
import Product from "../../../models/Products/Product";
import TablePrices from "../../../components/TablePrices.vue";
import Prices from "../../../models/Prices/Prices";
import Price from "../../../models/Prices/Price";
import CreateUpdatePrice from "./CreateUpdatePrice.vue";
import ShowPrice from "./ShowPrice.vue";
export default {
  name: "PriceMain",
  components: {ShowPrice, DialogActions, TablePrices, CreateUpdatePrice },
  props: { product: Product },
  computed: {
    prices: {
      get() {
        return new Prices();
      }
    }
  },
  data() {
    return {
      showSave: false,
      loading: false,
      errorMessage: "",
      localPrices: null,
      noData: "",
      headers: [],
      price: new Price(),
        open: false,
      openDetails: false,
    };
  },
  created() {
    this.init();
  },
  methods: {
    init: function() {
      this.noData = "No hay precios para este producto :(";
      this.headers = [
        { text: "Id", value: "id", align: "center" },
        { text: "Precio", value: "price", align: "center" },
        { text: "Tipo", value: "type", align: "center" },
        { text: "Cantidad mìnima", value: "min_qty", align: "center" },
        { text: "Acciones", value: "actions", align: "center" }
      ];
      this.loadPrices();
    },
    loadPrices: function() {
      this.localPrices = this.prices;
      this.localPrices.set("productId", this.$route.params.id);
      this.localPrices.fetch();
    },
    closed: function() {
      this.$router.push({ name: "products" });
    },
    openDialog() {
      this.price = new Price();
      this.open = true;
    },
      dialogOnCloseEvent() {
          this.localPrices.fetch();
          this.open = false;
      },
    onEdit(object) {
      this.price = object;
      this.price.fetch();
      this.open = true;
    },
    onDeleteSuccess() {},
    onShowDetail(object) {
      this.price = object;
      this.price.fetch();
      this.openDetails = true;
    },
    onCloseDetails() {
      this.openDetails = false;
      this.prices.fetch();
    },
  }
};
</script>

<style scoped></style>
