<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="!currentPayment.id"
            >Pagar</span
          >
          <span class="headline" v-if="currentPayment.id"
            >Editar pago</span
          >
        </v-card-title>
        <v-card-text>
          <v-layout row>
                  <v-layout column>
                    <p class="text-md-left">Método de pago</p>
                    <v-select
                      v-model="currentPayment.payment_method_id"
                      :items="methods.models"
                      item-text="name"
                      item-value="id"
                      label="Seleccione un método de pago:"
                      solo
                      outline
                      no-data-text="No hay métodos disponibles"
                    ></v-select>
                  </v-layout>

                  <v-layout column>
                    <p class="text-md-left">Tipo de pago</p>
                    <v-select
                      v-model="currentPayment.payment_type_id"
                      :items="types.models"
                      item-text="name"
                      item-value="id"
                      label="Seleccione un tipo de pago:"
                      solo
                      outline
                      no-data-text="No hay vías de administración disponibles"
                    ></v-select>
                  </v-layout>
          </v-layout>
          <v-layout row>
            <v-layout column>
              <p class="text-md-left">Monto</p>
              <money
                      v-bind="money"
                      v-model="currentPayment.total_paid"
              ></money>
            </v-layout>
            <v-layout>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="date"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="computedDateFormatted"
                    label="Fecha de pago"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="error" @click="menu = false">Cancelar</v-btn>
                  <v-btn text color="primary" @click="$refs.menu.save(date)">Aceptar</v-btn>
                </v-date-picker>
              </v-menu>
            </v-layout>
          </v-layout>
        </v-card-text>
        <DialogActions
          color="blue darken-1"
          text="Aceptar"
          :loading="loading"
          @onClickSave="saveType"
          @onReject="closed"
          :show-save="showSave"
        ></DialogActions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>
import ErrorSnackBar from "../../../components/ErrorSnackBar";
import Payment from "../../../models/Payments/Payment";
import DialogActions from "../../../components/DialogActions";
import PaymentMethods from "../../../models/PaymentMethods/PaymentMethods";
import PaymentTypes from "../../../models/PaymentType/PaymentTypes";
import Sale from "../../../models/Sales/Sale";
import { Money } from "v-money";

export default {
  name: "CreateUpdatePayment",
  components: { ErrorSnackBar, DialogActions, Money },
  props: {
    dialog: Boolean,
    payment: Payment,
    sale: Sale
  },
  data() {
    return {
      date: "",
      errorMessage: "",
      errorShow: false,
      loading: false,
      showSave: true,
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      methods: null,
      types: null,
      menu: false,
    };
  },
  created() {
    this.init();
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentPayment: {
      get() {
        if (this.payment.id) {
          this.date = this.payment.date ? 
          (new Date(this.payment.date)).toISOString().substr(0, 10)
           : new Date().toISOString().substr(0, 10);
          return this.payment;
        } else {
          this.date = new Date().toISOString().substr(0, 10);
          return new Payment();
        }
      }
    },
    computedDateFormatted () {
        return this.$options.filters.date(this.date)
    }
  },
  methods: {
    init() {
      this.errorMessage = "No se pudo realizar la petición.";
      this.methods = new PaymentMethods();
      this.types = new PaymentTypes();
      this.methods.fetch();
      this.types.fetch();
    },
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    },
    saveType: function() {
      this.loading = true;
      var promise;
      var self = this;
      this.currentPayment.sale_id = this.sale.id;
      this.currentPayment.date = this.date;
      promise = this.currentPayment.save();
      promise
        .then(function() {
          self.loading = false;
          self.show = false;
          self.$emit("onSuccess");
        })
        .catch(function() {
          self.loading = false;
          self.errorShow = true;
        });
    }
  }
};
</script>

<style scoped></style>
