<template>
  <div>
    <v-container fluid>
          <v-card class="rounded-card">
             <v-alert v-model="showAlert" :type="getTypeBalance()"  >
                      Saldo: {{sale.balance | money}}
              </v-alert>
          <v-card-actions>
            <v-spacer></v-spacer>
                <v-btn color="#00B23D" dark @click.prevent="openDialog" v-if="isPayable">
                  <v-icon>payment</v-icon>
                  <span>Pagar</span>
                </v-btn>
          </v-card-actions>
          <TablePayments
            :loading="payments.loading"
            :objects="payments"
            @onEdit="onEdit"
            @onDeleteSuccess="onDeleteSuccess"
            @onShowDetails="onShowDetail"
          ></TablePayments>
          <CreateUpdatePayment
            @onClose="dialogOnCloseEvent"
            @onSuccess="dialogOnCloseSuccessEvent"
            :dialog="open"
            :payment="payment"
            :sale="sale"
          ></CreateUpdatePayment>
        </v-card>
    </v-container>   
  </div>
</template>

<script>
import TablePayments from "../../../components/TablePayments";
import CustomToolbar from "../../../components/CustomToolbar";
import Payment from "../../../models/Payments/Payment";
import Payments from "../../../models/Payments/Payments";
import CreateUpdatePayment from "./CreateUpdatePayment";
import Sale from "../../../models/Sales/Sale";

/* import CreateUpdatePaymentType from "./CreateUpdatePaymentType";
import ShowDetailPriceType from "./ShowDetailPriceType"; */

export default {
  name: "PaymentMain",
  components: {
    CustomToolbar,
    TablePayments,
    CreateUpdatePayment
/*     CreateUpdatePaymentType,
    ShowDetailPriceType */
  },
  props: {
    isPayable: Boolean,
    sale: Sale
  },
  data() {
    return {
      payments: new Payments(),
      payment: new Payment(),
      open: false,
      headers: [],
      openDetails: false,
      showAlert: true
    };
  },
  mounted() {
    
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.loadPayments();
    },
    loadPayments() {
      this.payments.set("saleId", this.sale.id);
      this.payments.fetch();
    },
    onEdit(object) {
      this.payment = object;
      this.payment.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.payment = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.payments.fetch();
      this.onUpdateSale();
    },
    openDialog() {
      this.payment = new Payment();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.payments.fetch();
      this.open = false;
      this.onUpdateSale();
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.payments.fetch();
      this.onUpdateSale();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.payments.fetch();
    },
    onUpdateSale() {
      this.$emit("onUpdateSale");
    },
    getTypeBalance() {
        if (this.sale.balance === this.sale.total_amount) return 'error'
        else if (this.sale.balance > 0) return 'warning'
        else return 'success'
      
    }
  }
};
</script>

<style scoped></style>
