<template>
    <v-container fluid>
        <v-container fluid fill-height>
        <v-layout row  wrap align-center class="justify-center" >
                    <v-card raised :width="cardWidth">
                        <v-layout v-bind:class="[position]" class="text-xs-center" >
                                <v-flex xs6 >
                                    <v-img :height="imgHeight" :src=src></v-img>
                                </v-flex>
                                <v-divider vertical ></v-divider>
                                <v-layout row  wrap align-center class="justify-center">
                                    <v-flex xs10 justify-center >
                                        <v-layout column >
                                            <v-card-title class="justify-center">
                                                    <h1 class="text-xs-center">Inicio de Sesión</h1>
                                            </v-card-title>
                                            <v-card-text class="justify-center">
                                                <v-form ref="form" v-model="valid">
                                                    <v-text-field 
                                                        prepend-icon="person" 
                                                        name="username" 
                                                        label="Nombre de usuario o correo"
                                                        :rules="[rules.required]"
                                                        v-model="user.username">
                                                    </v-text-field>
                                                    <v-text-field 
                                                        :append-icon="show1 ? 'visibility' : 'visibility_off'"
                                                        :type="show1 ? 'text' : 'password'"
                                                         @click:append="show1 = !show1"
                                                        prepend-icon="lock" 
                                                        name="password" 
                                                        label="Contraseña" 
                                                        :rules="[rules.required]"
                                                        v-model="user.password">
                                                    </v-text-field>
                                                    <v-card-actions class="justify-center">
                                                        <v-btn color="primary" @click="validateLogin" :loading="loading">Iniciar Sesión</v-btn>
                                                    </v-card-actions>
                                                </v-form>
                                            </v-card-text>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                        </v-layout>
                    </v-card>
            </v-layout>
            
    </v-container>
    <ErrorSnackBar
                :errorMessage="errorMessage"
                :show="errorShow"
                @onClose="errorShow = false"
            ></ErrorSnackBar>
    </v-container>
        
</template>
<script>
import User from "../../../models/Users/User"
import ErrorSnackBar from "../../../components/ErrorSnackBar";
export default {
    name: 'Login',
    components: { ErrorSnackBar },
    data() {
        return {
            src: require("../../../assets/logo.jpg"),
            title: "Inicio de sesión",
            position: 'row',
            imgHeight: '500px',
            cardWidth: '75%',
            user: new User(),
            loading: false,
            errorShow: false,
            errorMessage: "Default error",
            show1:false,
            rules: {
                required: value => !!value || 'Este campo es requerido.',
            },
            valid: true
        }
    },
    computed: {
        
    },
    created() {
        this.isMobile();
    },
    methods: {
        isMobile: function() {
            var isMob = (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
            this.position =  isMob ? 'column' : 'row';
            this.imgHeight =  isMob ? '250px' : '500px';
            this.cardWidth =  isMob ? '90%' : '75%';
        },
        login: function() {
            var self = this;
            this.loading = true;
            this.user.auth().then(response => {
                var token = response.response.data.token;
                var self2 = self;
                self.$store.dispatch('login', token)
                .then(
                    () => self2.$router.push({name:'admin'})
                    )
                .catch(
                    err => console.log(err)
                    )
                
                
            })
            .catch(error => {
                let msg = error.response.response.data.error;
                self.errorShow = true;
                self.errorMessage = msg;
            })
            .finally(
                () => self.loading = false
            );
        },
        validateLogin: function() {
            if (this.$refs.form.validate()){
                this.login()
            }else{
                this.errorMessage = "Llene los campos requeridos.";
                this.errorShow = true
            }
        }
    }

}
</script>
<style scoped>

</style>