<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :loading="sellers.loading"
      :headers="headers"
      :objects="sellers"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
      :show-all-fields="true"
    ></TableModel>
    <CreateUpdateSeller
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :seller="seller"
    ></CreateUpdateSeller>
    <ShowDetailSeller @onClose="onCloseDetails" :dialog="openDetails" :seller="seller"></ShowDetailSeller>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import CustomToolbar from "../../../components/CustomToolbar";
import Seller from "../../../models/Sellers/Seller";
import Sellers from "../../../models/Sellers/Sellers";
import CreateUpdateSeller from "./CreateUpdateSeller";
import ShowDetailSeller from "./ShowDetailSeller";

export default {
  name: "SellersMain",
  components: {ShowDetailSeller, CustomToolbar, TableModel, CreateUpdateSeller },
  data() {
    return {
      sellers: new Sellers(),
      seller: new Seller(),
      title: "",
      open: false,
      openDetails: false,
      headers: []
    };
  },
  created() {
    this.init();

  },
  methods: {
    init() {
      this.headers = [
        { text: "Id", value: "id", align: "center" },
        { text: "Nombre", value: "name", align: "center" },
        { text: "Comisión (%)", value: "comision", align: "center" },
        { text: "Acciones", value: "actions", align: "center" }
      ];
      this.sellers.fetch();
      this.title = "Vendedores";
    },
    onEdit(object) {
      this.seller = object;
      this.seller.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.seller = object;
      this.seller.fetch();
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.sellers.fetch();
    },
    openDialog() {
      this.seller = new Seller();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.sellers.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.sellers.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.sellers.fetch();
    },
  }
};
</script>

<style scoped></style>
