<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Detalles del vendedor</span>
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="currentSeller.name"
            label="Nombre"
            disabled
          ></v-text-field>
          <v-text-field
            v-model="currentSeller.commission"
            label="Comisión"
            disabled
          ></v-text-field>
        </v-card-text>
        <DialogActions
                color="blue darken-1"
                text="Aceptar"
                :loading="loading"
                @onReject="closed"
                :show-save="showSave"
        ></DialogActions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>
import ErrorSnackBar from "../../../components/ErrorSnackBar";
import Seller from "../../../models/Sellers/Seller";
import DialogActions from "../../../components/DialogActions";
export default {
  name: "ShowDetailSeller",
  components: { ErrorSnackBar, DialogActions },
  props: {
    dialog: Boolean,
    seller: Seller
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false,
      loading: false,
      showSave: false
    };
  },
  created() {
    this.errorMessage = "No se pudo realizar la petición.";
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentSeller: {
      get() {
        if (this.seller.id) {
          return this.seller;
        } else {
          return new Seller();
        }
      }
    }
  },
  methods: {
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    }
  }
};
</script>

<style scoped></style>
