<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-form ref="form" v-model="valid">
        <v-card>
          <v-card-title>
            <span class="headline" v-if="add"
              >Agregar concepto</span
            >
            <span class="headline" v-if="!add">Editar concepto</span>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="concept.name"
              label="Nombre"
              :rules="[rules.required]"
            ></v-text-field>
            <v-layout column>
            <p class="text-md-left">Operación</p>
            <v-select
              v-model="concept.operation"
              :items="operations"
              item-text="name"
              item-value="operation"
              label="Seleccione una operación:"
              no-data-text="No hay operaciones disponibles"
              solo
              outline
              :rules="[rules.required]"
            ></v-select>  
          </v-layout> 
            <v-layout column>
            <p class="text-md-left">Monto</p>
            <money
                    
                    v-bind="money"
                    v-model="concept.total_amount"
                    :rules="[rules.required]"
            ></money>
          </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="closed">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Aceptar</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </v-layout>
</template>

<script>
import { Money } from "v-money";

export default {
  name: "CreateUpdateConcept",
  components: {  Money },
  props: {
    dialog: Boolean,
    add: Boolean,
    concept: Object
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false,
      valid: true,
      operations: [
        {operation: '+', name: 'Sumar'},
        {operation: '-', name: 'Restar'},
      ],
       rules: {
          required: value => !!value || 'Este campo es requerido.'
      },
       money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        precision: 2,
        masked: false /* doesn't work with directive */
      }
    };
  },
  created() {
    this.errorMessage = "No se pudo realizar la petición.";
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
  },
  methods: {
    closed: function() {
      this.show = false;
      this.resetValidation();
      this.$emit("onClose");
    },
    save: function() {
      if (this.$refs.form.validate()) {
        this.show = false;
      this.$emit("onAdd",this.concept);
      }
      
    },
    resetValidation () {
        this.$refs.form.resetValidation();
    }
  }
};
</script>

<style scoped></style>
