<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="!via.id"
            >Agregar vías de administración</span
          >
          <span class="headline" v-if="via.id"
            >Editar vías de administración</span
          >
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="currentVia.name" label="Nombre"></v-text-field>
          <v-text-field
            v-model="currentVia.description"
            label="Descripción"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click="closed">Cancelar</v-btn>
          <!--<v-btn color="blue darken-1" flat @click="saveVia">Aceptar</v-btn>-->
          <ButtonSaveLoader color="blue darken-1" text="Aceptar" :loading="loading" @onClickSave="saveVia"></ButtonSaveLoader>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>

import ErrorSnackBar from "../../../components/ErrorSnackBar";
import Via from "../../../models/Vias/Via";
import ButtonSaveLoader from "../../../components/ButtonSaveLoader";

export default {
  name: "CreateUpdateVia",
  components: { ErrorSnackBar, ButtonSaveLoader },
  props: {
    dialog: Boolean,
    via: Via
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false,
      loading: false
    };
  },
  created() {
    this.errorMessage = "No se pudo realizar la petición.";
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentVia: {
      get() {
        if (this.via.id) {
          return this.via;
        } else {
          return new Via();
        }
      }
    }
  },
  methods: {
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    },
    saveVia: function() {
      this.loading = true;
      var promise;
      var self = this;
      promise = this.currentVia.save();
      promise
        .then(function() {
          self.loading = false;
          self.show = false;
          self.$emit("onSuccess");
        })
        .catch(function() {
          self.loading = false;
          self.errorShow = true;
        });
    }
  }
};
</script>

<style scoped></style>
