<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"
            >Detalles de la vía de administración</span
          >
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="currentVia.name" label="Nombre" disabled></v-text-field>
          <v-text-field
            v-model="currentVia.description"
            label="Descripción"
            disabled
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closed">Regresar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import Via from "../../../models/Vias/Via";

export default {
  name: "ShowDetailVia",
  props: {
    dialog: Boolean,
    via: Via
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false
    };
  },
  created() {
    this.errorMessage = "No se pudo realizar la petición.";
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentVia: {
      get() {
        if (this.via.id) {
          return this.via;
        } else {
          return new Via();
        }
      }
    }
  },
  methods: {
    closed: function() {
      this.show = false;
      this.$emit("onCloseDetails");
    }
  }
};
</script>

<style scoped></style>
