<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :loading="vias.loading"
      :objects="vias"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
    ></TableModel>
    <CreateUpdateVia
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :via="via"
    ></CreateUpdateVia>
    <ShowDetailVia
      @onCloseDetails="onCloseDetails"
      :dialog="openDetails"
      :via="via"
    >
    </ShowDetailVia>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import CreateUpdateVia from "./CreateUpdateVia.vue";
import Vias from "../../../models/Vias/Vias";
import Via from "../../../models/Vias/Via";
import ShowDetailVia from "./ShowDetailVia";
import CustomToolbar from "../../../components/CustomToolbar";

export default {
  name: "ViasMain",
  components: { CustomToolbar, ShowDetailVia, TableModel, CreateUpdateVia },
  data() {
    return {
      vias: new Vias(),
      via: new Via(),
      open: false,
      openDetails: false,
      title: ""
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.vias.fetch();
      this.title = "Vías de administración";
    },
    openDialog() {
      this.via = new Via();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.open = false;
    },
    onCloseDetails() {
      this.openDetails = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.vias.fetch();
    },
    onEdit(object) {
      this.via = object;
      this.open = true;
    },
    onShowDetail(object) {
      this.via = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.vias.fetch();
    }
  }
};
</script>

<style scoped></style>
