<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableClients
      :loading="clients.loading"
      :objects="clients"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
      :show-all-fields="true"
    ></TableClients>
    <CreateUpdateClient
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :client="client"
    ></CreateUpdateClient>
    <ShowDetailClient
      @onClose="onCloseDetails"
      :dialog="openDetails"
      :client="client"
    ></ShowDetailClient>
  </div>
</template>

<script>
import TableClients from "../../../components/TableClients";
import CustomToolbar from "../../../components/CustomToolbar";
import Client from "../../../models/Clients/Client";
import Clients from "../../../models/Clients/Clients";
import CreateUpdateClient from "./CreateUpdateClient";
import ShowDetailClient from "./ShowDetailClient";

export default {
  name: "ClientsMain",
  components: {
    CustomToolbar,
    TableClients,
    CreateUpdateClient,
    ShowDetailClient
  },
  data() {
    return {
      clients: new Clients(),
      client: new Client(),
      title: "",
      open: false,
      openDetails: false,
      headers: []
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.clients.fetch();
      this.title = "Clientes";
      
    },
    onEdit(object) {
      this.client = object;
      this.client.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.client = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.clients.fetch();
    },
    openDialog() {
      this.client = new Client();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.clients.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.clients.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.clients.fetch();
    }
  }
};
</script>

<style scoped></style>
