<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="!currentClient.id"
            >Agregar cliente</span
          >
          <span class="headline" v-if="currentClient.id"
            >Editar  cliente</span
          >
        </v-card-title>
        <v-form  ref="form" v-model="valid">
          <v-card-text>
            <v-text-field
              v-model="currentClient.name"
              label="Nombre"
              :rules="[rules.required]"
            ></v-text-field>
            <v-layout column>
              <p class="text-md-left">Tipo</p>
              <v-select
                v-model="currentClient.client_type_id"
                :items="types.models"
                item-text="name"
                item-value="id"
                label="Seleccione un tipo de cliente:"
                solo
                outline
                no-data-text="No hay tipos de clientes disponibles"
                :rules="[rules.required]"
              ></v-select>
            </v-layout>
          </v-card-text>
          <DialogActions
            color="blue darken-1"
            text="Aceptar"
            :loading="loading"
            @onClickSave="saveType"
            @onReject="closed"
            :show-save="showSave"
          ></DialogActions>
        </v-form>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>
import ErrorSnackBar from "../../../components/ErrorSnackBar";
import Client from "../../../models/Clients/Client";
import ClientTypes from "../../../models/ClientType/ClientTypes";
import DialogActions from "../../../components/DialogActions";

export default {
  name: "CreateUpdateClient",
  components: { ErrorSnackBar, DialogActions },
  props: {
    dialog: Boolean,
    client: Client
  },
  data() {
    return {
      valid: true,
      errorMessage: "",
      errorShow: false,
      loading: false,
      showSave: true,
      types: new ClientTypes(),
      rules: {
          required: value => !!value || 'Este campo es requerido.'
      }
    };
  },
  beforeDestroy() {
    this.resetValidation();
  },
  created() {
    this.init();
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentClient: {
      get() {
        if (this.client.id) {
          return this.client;
        } else {
          return new Client();
        }
      }
    }
  },
  methods: {
    init: function () {
      this.errorMessage = "No se pudo realizar la petición.";
      this.types.fetch();
    },
    closed: function() {
      this.resetValidation();
      this.show = false;
      this.$emit("onClose");
    },
    saveType: function() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        var promise;
        var self = this;
        promise = this.currentClient.save();
        promise
          .then(function() {
            self.loading = false;
            self.show = false;
            self.$emit("onSuccess");
          })
          .catch(function() {
            self.loading = false;
            self.errorShow = true;
          });
      }else {
        this.errorMessage = "Llene los campos requeridos.";
        this.errorShow = true
      }
      
    },
    resetValidation () {
        this.$refs.form.resetValidation();
    }
  }
};
</script>

<style scoped></style>
