<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Detalles del cliente</span>
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="currentClient.name"
            label="Nombre"
            disabled
          ></v-text-field>
          <v-layout column>
            <p class="text-md-left">Tipo</p>
            <v-select
              v-model="currentClient.client_type_id"
              :items="types.models"
              item-text="name"
              item-value="id"
              label="Seleccione un tipo de cliente:"
              solo
              outline
              no-data-text="No hay tipos de clientes disponibles"
              disabled
            ></v-select>
          </v-layout>
        </v-card-text>
        <DialogActions
                color="blue darken-1"
                text="Aceptar"
                :loading="loading"
                @onReject="closed"
                :show-save="showSave"
        ></DialogActions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>
import ErrorSnackBar from "../../../components/ErrorSnackBar";
import Client from "../../../models/Clients/Client";
import DialogActions from "../../../components/DialogActions";
import ClientTypes from "../../../models/ClientType/ClientTypes";

export default {
  name: "ShowDetailClient",
  components: { ErrorSnackBar, DialogActions },
  props: {
    dialog: Boolean,
    client: Client
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false,
      loading: false,
      showSave: false,
      types: new ClientTypes(),
    };
  },
  created() {
    this.init();
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentClient: {
      get() {
        if (this.client.id) {
          return this.client;
        } else {
          return new Client();
        }
      }
    }
  },
  methods: {
    init: function () {
      this.errorMessage = "No se pudo realizar la petición.";
      this.types.fetch();
    },
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    }
  }
};
</script>

<style scoped></style>
