<template>
  <v-container fluid>

      <HomeToolbar ></HomeToolbar>

        <v-content  >
          <router-view />
        </v-content>

  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HomeToolbar from "../components/HomeToolbar.vue";

@Component({
  components: { HomeToolbar }
})
export default class Home extends Vue {}
</script>
