<template>
<v-form ref="form" v-model="valid">
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-container fluid >
      <v-flex row>
        <v-layout column>
          <v-flex>
            <v-stepper v-model="e1" >
              <v-stepper-header>
                <v-stepper-step :complete="e1 > 1" step="1" :editable="true">Método de venta</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 2" step="2" :editable="hasSeller">Vendedor</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 3" step="3" :editable="true">Cliente</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 4" step="4" :editable="true">Productos</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 5" step="5" :editable="true">Detalles</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 6" step="6" :editable="true">Otros conceptos</v-stepper-step>
              </v-stepper-header>
              <v-stepper-items> 
                <v-stepper-content step="1">
                  <v-alert v-model="showAlert" type="info"  >
                      Selecciona un método de venta
                  </v-alert>
                  
                  <v-select
                      v-model="currentSale.sale_method_id"
                      :items="methods.models"
                      item-text="name"
                      item-value="id"
                      label="Seleccione un método de venta:"
                      solo
                      outline
                      no-data-text="No hay métodos de venta disponibles"
                      :rules="[rules.required]"
                      required
                    ></v-select>
                    <v-alert v-model="showAlert" type="info"  >
                      Selecciona una fecha de venta
                  </v-alert>
                    <v-layout>
                      <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        :return-value.sync="date"
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="date"
                            label="Fecha de venta"
                            prepend-icon="event"
                            readonly
                            :rules="[rules.required]"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" no-title scrollable>
                          <div class="flex-grow-1"></div>
                          <v-btn text color="error" @click="menu = false">Cancelar</v-btn>
                          <v-btn text color="primary" @click="$refs.menu.save(date)">Aceptar</v-btn>
                        </v-date-picker>
                      </v-menu>
                    </v-layout>
                    <v-switch v-model="hasSeller" :label="`¿Asignará vendedor?`"></v-switch>            
                </v-stepper-content>
                <v-stepper-content step="2">
                    <v-alert v-model="showAlert" type="info"  >
                      Selecciona un vendedor
                    </v-alert>
                    <TableModelSelection
                    :loading="sellers.loading"
                    :objects="sellers"
                    @onSelected="onItemSelected"
                  ></TableModelSelection>
                </v-stepper-content>
                <v-stepper-content step="3">
                    <v-alert v-model="showAlert" type="info"  >
                      Selecciona un cliente
                    </v-alert>
                    <TableModelSelection
                    :loading="clients.loading"
                    :objects="clients"
                    @onSelected="onItemSelected"
                  ></TableModelSelection>
                </v-stepper-content>
                <v-stepper-content step="4">
                  <v-layout v-bind:class="[position]">
                    <v-flex xs12 >
                      <v-alert v-model="showAlert" type="info"  v-if="!!!currentDetail.product">
                      Selecciona un producto
                      </v-alert>
                      <v-alert v-if="currentDetail.product" v-model="showAlert" :type="currentStockMax === 0 ? 'error':'success'"  >
                      La cantidad disponible para el producto seleccionado es {{currentStockMax}}
                    </v-alert>
                      <TableModelSelection
                      :loading="products.loading"
                      :objects="products"
                      @onSelected="onItemSelected"
                      @onNoSelected="showPrices = false"
                      ></TableModelSelection>
                    </v-flex>
                    <v-flex xs12>
                      <v-alert v-model="showAlert" type="info"  >
                      Selecciona un precio
                        </v-alert>
                        <TablePricesSelection
                        :loading="prices.loading"
                        :objects="prices"
                        @onSelected="onItemSelected"
                      ></TablePricesSelection>
                    </v-flex>
                  </v-layout>
                  <v-layout row >
                    <v-flex xs12>
                      <v-alert v-model="showAlert" type="info"  >
                        Ingresa la cantidad
                      </v-alert>
                      <v-text-field
                          type="number"
                          v-model="currentDetail.qty"
                          :rules="[rules.type, rules.required, rules.max]"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-alert v-model="showAlert" type="info"  >
                      Precio unitario
                        </v-alert>
                        <money
                          v-bind="money"
                          v-model="currentDetail.total_amount"
                          disabled
                      ></money>
                    </v-flex>
                    <v-flex xs12>
                      <v-alert v-model="showAlert" type="info"  >
                      Acciones
                        </v-alert>
                        <v-btn color="#00B23D" dark v-if="showAddDetail" @click="addDetail">
                          <v-icon>add</v-icon>
                          <span>Agregar a la lista</span>
                        </v-btn>
                    </v-flex>
                  </v-layout>
                </v-stepper-content>
                <v-stepper-content step=5>
                  <v-flex>
                     <v-alert v-model="showAlert" type="info"  >
                      Detalles de la venta
                    </v-alert>
                    <v-card class="rounded-card">
                      <v-data-table
                        :headers="detailHeaders"
                        :items="currentSale.details"
                        :total-items="currentSale.details.length"
                      >
                        <template slot="headers" slot-scope="props">
                          <tr>
                            <th v-for="header in props.headers" :key="header.text">
                              {{ header.text }}
                            </th>
                          </tr>
                        </template>
                      
                        <template slot="items" slot-scope="props">
                          <tr>
                            <td>{{ props.item.product ? props.item.product.name : '' }}</td>
                            <td>{{ props.item.price.unit_price | money }}</td>
                            <td>{{ props.item.price ? props.item.price.type.name : '' }}</td>
                            <td>{{ props.item.qty }}</td>
                            <td>{{ props.item.total_amount | money }}</td>
                            <td>
                              <v-tooltip top>
                                <v-btn
                                  slot="activator"
                                  icon
                                  color="error"
                                  dark
                                  @click.prevent="deleteDetail(props.item)"
                                >
                                  <v-icon>delete</v-icon>
                                </v-btn>
                                <span>Eliminar</span>
                              </v-tooltip>
                            </td>
                          </tr>
                        </template>
                        <template slot="no-data">
                          <v-alert :value="true" color="error" icon="warning">
                            No hay detalles de venta.
                          </v-alert>
                        </template>
                        <template slot="footer">
                            <td><strong>Totales</strong></td>
                            <td >{{totals.unit_price | money}}</td>
                            <td ></td>
                            <td >{{totals.qty}}</td>
                            <td >{{totals.total_price | money}}</td>
                        </template>
                      </v-data-table>
                    </v-card>
                  </v-flex>
                </v-stepper-content>
                <v-stepper-content step=6>
                  <v-flex>
                    <v-alert v-model="showAlert" type="info"  >
                      Otros conceptos - Total: {{totals_concepts | money}}
                    </v-alert>
                    <v-card>
                      <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="#00B23D" dark @click.prevent="onAddConcept">
                        <v-icon>add</v-icon>
                        <span>Agregar</span>
                      </v-btn>
                    </v-card-actions>
                    <v-card-text>
                      <TableConcepts v-if="showConcepts" 
                      :objects="currentSale.concepts" 
                      :actions="showActions"
                      @onDeleteConcept="onDeleteConcept"></TableConcepts>
                      <CreateUpdateConcept :dialog="showAddConcept" :add="add" 
                      :concept="concept" @onClose="onCloseAddConcept" @onAdd="onSuccessAdd"></CreateUpdateConcept>
                    </v-card-text>
                    <v-alert v-model="showAlert" type="success"  >
                      Total final: {{total | money}}
                    </v-alert>
                    </v-card>
                  </v-flex>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
            <v-card>
              <DialogActions
                color="blue darken-1"
                text="Aceptar"
                :loading="loading"
                @onClickSave="saveMethod"
                @onReject="closed"
                :show-save="showSave"
              ></DialogActions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-container>
      <ErrorSnackBar
        :errorMessage="errorMessage"
        :show="errorShow"
        @onClose="errorShow = false"
      ></ErrorSnackBar>
  </div>
</v-form>
</template>

<script>
import ErrorSnackBar from "../../../components/ErrorSnackBar";
import Sale from "../../../models/Sales/Sale";
import DialogActions from "../../../components/DialogActions";
import SaleMethods from "../../../models/SaleMethod/SaleMethods";
import TableModelSelection from "../../../components/TableModelSelection";
import TablePricesSelection from "../../../components/TablePricesSelection";
import Sellers from "../../../models/Sellers/Sellers";
import Clients from "../../../models/Clients/Clients";
import Seller from '../../../models/Sellers/Seller';
import Client from "../../../models/Clients/Client";
import CustomToolbar from "../../../components/CustomToolbar.vue";
import Products from "../../../models/Products/Products"
import Prices from "../../../models/Prices/Prices";
import Price from "../../../models/Prices/Price";
import Product from '../../../models/Products/Product';
import { Money } from "v-money";
import TableConcepts from "../../../components/TableConcepts"
import CreateUpdateConcept from "../../admin/Concepts/CreateUpdateConcept"

export default {
  name: "CreateUpdateSale",
  components: { ErrorSnackBar, DialogActions, 
    TableModelSelection, CustomToolbar, 
    TablePricesSelection, Money, TableConcepts, CreateUpdateConcept },
  props: {
    dialog: Boolean,
    sale: Sale
  },
  watch: {
    e1: function (val) {
     
      this.showSave = val == 6;
    },
    hasSeller: function(val) {
      this.currentSale.seller_id = val ? this.currentSale.seller_id : null;
    },
    'currentDetail.qty': function(val) {
      this.calcCurrentDetail();
    },
    'currentDetail.product': function(val) {
      this.calcMaxStock(val);

    },

  },
  data() {
    return {
      date: "",
      menu: false,
      showDetail: false,
      showActions: true,
      showAddConcept: false,
      add: true,
      showConcepts: true,
      errorMessage: "",
      errorShow: false,
      loading: false,
      showSave: false,
      methods: new SaleMethods(),
      e1: 0,
      sellers: new Sellers(),
      clients: new Clients(),
      products: new Products(),
      prices: new Prices(),
      title: '',
      showAlert: true,
      hasSeller: true,
      currentStockMax: 100000,
      concept: {},
      rules: {
          required: value => !!value || 'Este campo es requerido.',
          max: value => value <= this.currentStockMax || 'Este campo debe ser menor o igual a '+this.currentStockMax,
          type: value => {
            const pattern = /^(0|[1-9][0-9]*)$/
            return pattern.test(value) || 'Sólo se aceptan números.'
          }
      },
      valid: true,
      currentDetail: {qty:1},
      showPrices: false,
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      showAddDetail: false,
      detailHeaders: [
          { text: "Producto", value: "product", align: "center" },
          { text: "Precio", value: "price", align: "center" },
          { text: "Tipo precio", value: "type", align: "center" },
          { text: "Cantidad", value: "qty", align: "center" },
          { text: "Total", value: "total_amount", align: "center" },
          { text: "Acciones", value: "actions", align: "center" }
        ],
        pagination: {
        sortBy: "product"
      },
      totals: {
        unit_price: 0,
        qty: 0,
        total_price: 0
      },
      totals_concepts: 0,
      total: 0,
      position: 'row'
    };
  },
  created() {
    this.init();
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentSale: {
      get() {
        if (this.sale && this.sale.id) {
          
          this.date = this.sale.date ? 
          (new Date(this.sale.date)).toISOString().substr(0, 10)
           : new Date().toISOString().substr(0, 10);
          return this.sale;
        } else {
          this.date = new Date().toISOString().substr(0, 10);
          return new Sale();
        }
      }
    }
  },
  methods: {
    init: function () {
      this.methods.fetch();
      this.sellers.fetch();
      this.clients.fetch();
      this.products.fetch();
      var self = this;
      this.errorMessage = "No se pudo realizar la petición.";
      this.title = "Crear venta";
      this.isMobile();
      if(this.currentSale.id){
        this.calcTotals();
        this.calcConceptTotals();
      }
    },
    closed: function() {
      this.$router.push({ name: "sales" });
    },
    saveMethod: function() {
      
      if (this.$refs.form.validate() && Sale.validate(this.currentSale)) {
        this.loading = true;
        var promise;
        var self = this;
        this.currentSale.date = this.date;
        promise = this.currentSale.save();
        promise
          .then(function() {
            self.loading = false;
            self.show = false;
            self.$router.push({ name: "sales" });
            self.$emit("onSuccess");
          })
          .catch(function() {
            self.loading = false;
            self.errorShow = true;
          });
      } else {
        this.errorMessage = "Llene los campos requeridos.";
        this.errorShow = true
        this.e1 = 1;
      }
      
    },
    searchPrices: function(product) {
      this.currentDetail = {
        qty: 1
      };
      this.showPrices = true;
      this.currentDetail.product = product;
      this.prices.set("productId", product.id);
      this.prices.fetch();
    },
    selectPrice: function(price) {
      this.currentDetail.price = price;
      this.calcCurrentDetail();
    },
    onItemSelected: function(object) {
      if(object instanceof Seller){
        this.currentSale.seller_id = object.id;
      }else if(object instanceof Client) {
        this.currentSale.client_id = object.id;
      }else if(object instanceof Product) {
        this.searchPrices(object);
      }else if(object instanceof Price) {
        this.selectPrice(object);
      }
    },
    calcCurrentDetail() {
      if(this.currentDetail.product && this.currentDetail.price) {
        this.currentDetail.total_amount = 
        this.currentDetail.price.unit_price * this.currentDetail.qty;
        this.isValidDetail();
      }
      
    },
    isValidDetail() {
      this.showAddDetail = this.currentDetail.qty > 0 
      && this.currentDetail.product.stock >0
      && this.currentDetail.qty <= this.currentStockMax;
    },
    foundProductPriceDuplicate() {
      var found = null;
      var self = this;
      self.currentSale.details.some(function(el, i) {
          var equal = el.product.id === self.currentDetail.product.id &&
              el.price.id === self.currentDetail.price.id;
          if (equal)
            found = i;
          return equal;
        });
      return found;

    },
    foundProductDuplicate() {
      var found = null;
      var self = this;
      self.currentSale.details.some(function(el, i) {
          var equal = el.product.id === self.currentDetail.product.id;
          if (equal)
            found = i;
          return equal;
        });
      return found;
    },
    calcMaxStock(product) {
      this.currentStockMax = 10000;
      if(product) {
        var indexDuplicate = this.foundProductDuplicate();
        this.currentStockMax = (indexDuplicate !== null || indexDuplicate != undefined) ?
        parseInt(product.stock) - parseInt(this.currentSale.details[indexDuplicate]['qty']) :
        parseInt(product.stock);
      }
    },
    addDetail() {
      var indexDuplicate = this.foundProductPriceDuplicate();
      if (indexDuplicate !== null || indexDuplicate != undefined) {
        this.currentSale.details[indexDuplicate]["qty"] 
          = parseInt(this.currentSale.details[indexDuplicate]["qty"]) + parseInt(this.currentDetail["qty"]);
        this.currentSale.details[indexDuplicate]["total_amount"] 
          = this.currentSale.details[indexDuplicate]["total_amount"] + this.currentDetail["total_amount"];
      } else {
        this.currentDetail.qty = parseInt(this.currentDetail.qty);
        this.currentSale.details.push(this.currentDetail);
      }
      this.currentDetail = {
        qty:1
      };
      this.products.fetch();
      this.prices.fetch();
      this.calcTotals();
    },
    onAddConcept(){
      this.showAddConcept = true;
      this.showConcepts = false;
      this.concept = {};
    },
    onSuccessAdd(object) {
      this.$set(this.currentSale.concepts,this.currentSale.concepts.length,object);
      this.calcConceptTotals();
      this.showAddConcept = false;
      this.showConcepts = true;
      
    },
    onCloseAddConcept() {
      this.showAddConcept = false;
      this.showConcepts = true;
    },
    onEditConcept(object) {
      this.concept = object;
      this.showAlert = true;
    },
    deleteDetail(item){
      var found = -1;
      this.currentSale.details = this.currentSale.details.filter(function(value) {
            return value.product.id !== item.product.id || value.price.id !== item.price.id;
          })
      this.calcTotals();
    },
    calcTotals(){
      this.totals.unit_price = 
      this.financial(this.currentSale.details.reduce((a,b) => parseFloat(a) + parseFloat(b.price.unit_price), 0));
      
      this.totals.qty = 
      this.financial(this.currentSale.details.reduce((a,b) => parseFloat(a) + parseFloat(b.qty), 0));

      this.totals.total_price = 
      this.financial(this.currentSale.details.reduce((a,b) => parseFloat(a) + parseFloat(b.total_amount), 0));

      this.calcTotal();
    },
    calcConceptTotals() {
      this.totals_concepts =
      this.financial(this.currentSale.concepts.reduce((a,b) =>
        b.operation === "+" ? 
        (parseFloat(a) + parseFloat(b.total_amount)) : 
        (parseFloat(a) - parseFloat(b.total_amount)),0));

      this.calcTotal();
    },
    calcTotal() {
      this.total = this.totals.total_price + this.totals_concepts;
    },
    financial(number) {
      return Number.parseFloat(number).toFixed(2)*1;
    },
    validSale() {
      this.showDetail =  this.$refs.form.validate() && Sale.validate(this.currentSale);
    },
    onDeleteConcept(index){
      this.currentSale.concepts = this.currentSale.concepts.filter(function(val, vIndex){
        return vIndex !== index
      })
      this.calcConceptTotals()
    },
    isMobile: function() {
            var isMob = (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
            this.position =  isMob ? 'column' : 'row';
        }
  }
}
</script>

<style scoped></style>
