<template>
  <div>
    <v-container fluid>
          <v-card class="rounded-card">
            <v-card-text>
              <v-layout column>
                <v-btn color="primary" dark @click.prevent="loadSale"
                :loading="sale.loading">
                  <v-icon>refresh</v-icon>
                  <span>Recargar datos</span>
                </v-btn>
                <v-layout column justify-center v-if="!sale.loading">
                  <v-layout row>
                        <v-text-field label="Cliente" v-model="sale.client.name" readonly outlined></v-text-field>
                        <v-text-field label="Vendedor" v-model="sale.seller.name" readonly outlined></v-text-field>
                        <v-text-field label="Método" v-model="sale.method.name" readonly outlined></v-text-field>
                        <v-text-field label="Total" v-model="sale.total_amount" readonly outlined></v-text-field>
                        <v-text-field label="Pagado" v-model="sale.total_paid" readonly outlined></v-text-field>
                        <v-text-field label="Saldo" v-model="sale.balance" readonly outlined></v-text-field>
                  </v-layout>
                  <v-layout>
                    <v-flex>
                      <v-card class="rounded-card">
                        <v-alert v-model="showAlert" type="info"  >
                        Detalles de la venta
                        </v-alert>
                        <v-data-table
                          :headers="detailHeaders"
                          :items="sale.details"
                          :total-items="sale.details.length"
                        >
                          <template slot="headers" slot-scope="props">
                            <tr>
                              <th v-for="header in props.headers" :key="header.text">
                                {{ header.text }}
                              </th>
                            </tr>
                          </template>
                        
                          <template slot="items" slot-scope="props">
                            <tr>
                              <td>{{ props.item.product ? props.item.product.name : '' }}</td>
                              <td>{{ props.item.price.unit_price | money }}</td>
                              <td>{{ props.item.price ? props.item.price.type.name : '' }}</td>
                              <td>{{ props.item.qty }}</td>
                              <td>{{ props.item.total_amount | money}}</td>
                            </tr>
                          </template>
                          <template slot="no-data">
                            <v-alert :value="true" color="error" icon="warning">
                              No hay detalles de venta.
                            </v-alert>
                          </template>
                          <template slot="footer" color="success" >
                              <td><strong>Totales</strong></td>
                              <td >{{totals.unit_price | money}}</td>
                              <td ></td>
                              <td >{{totals.qty}}</td>
                              <td >{{totals.total_price | money}}</td>
                          </template>
                        </v-data-table>
                      </v-card>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex>
                        <v-alert v-model="showAlert" type="info"  >
                        Otros conceptos
                    </v-alert>
                    <TableConcepts :objects="sale.concepts" :actions="showActions"></TableConcepts>
                    </v-flex>
                    
                  </v-layout>
                  
                </v-layout>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-container>
  </div>
</template>

<script>

import Sale from "../../../models/Sales/Sale";
import TableConcepts from "../../../components/TableConcepts";
import Utils from "@/utils/Utils"

export default {
  name: "SaleGeneralInfo",
  components: {
    TableConcepts
  },
  props: {
    sale: Sale
  },
  data() {
    return {
      detailHeaders: [
          { text: "Producto", value: "product", align: "center" },
          { text: "Precio", value: "price", align: "center" },
          { text: "Tipo precio", value: "type", align: "center" },
          { text: "Cantidad", value: "qty", align: "center" },
          { text: "Total", value: "total_amount", align: "center" },
        ],
      totals: {
        unit_price: 0,
        qty: 0,
        total_price: 0
      },
      showAlert: true,
      showActions: false,
      Utils: Utils
    };
  },
  watch: {
    sale: function(val) {
      this.calcTotals();
    }
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.loadSale();
    },
    calcTotals() {
      this.totals.unit_price = this.financial(this.sale.details.reduce((a,b) => parseFloat(a) + parseFloat(b.price.unit_price), 0));
      
      this.totals.qty = 
      this.financial(this.sale.details.reduce((a,b) => parseFloat(a) + parseFloat(b.qty), 0));

      this.totals.total_price = 
      this.financial(this.sale.details.reduce((a,b) => parseFloat(a) + parseFloat(b.total_amount), 0));

      this.isPayable = this.sale.balance > 0;
      
      
    },
    financial(number) {
      return Number.parseFloat(number).toFixed(2)*1;
    },
    loadSale: function() {
      if(this.sale.id){
        this.sale.fetch();
        this.sale.on('fetch', (event) => {
        this.calcTotals();
        
      })
      }
      
    }
  }
};
</script>

<style scoped></style>
