<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableSales
      :loading="sales.loading"
      :objects="sales"
      :headers="headers"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
      @onPayment="onPayment"
    ></TableSales>
    <!-- <CreateUpdateSale
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :sale="sale"
    ></CreateUpdateSale> -->
    <!-- <ShowDetailSaleMethods
      @onClose="onCloseDetails"
      :dialog="openDetails"
      :method="method"
    ></ShowDetailSaleMethods> -->
  </div>
</template>

<script>
import TableSales from "../../../components/TableSales";
import CustomToolbar from "../../../components/CustomToolbar";
import Sale from "../../../models/Sales/Sale";
import Sales from "../../../models/Sales/Sales";
import CreateUpdateSale from "./CreateUpdateSale";
/* 

import ShowDetailSaleMethods from "./ShowDetailSaleMethods"; */

export default {
  name: "SalesMain",
  components: {
    CustomToolbar,
    TableSales,
    CreateUpdateSale
  },
  data() {
    return {
      sales: new Sales(),
      sale: new Sale(),
      title: "",
      open: false,
      headers: [],
      openDetails: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.sales.fetch();
      this.title = "Ventas";
      this.headers = [
        { text: "Id", value: "id", align: "center" },
        { text: "Cliente", value: "client", align: "center" },
        { text: "Vendedor", value: "seller", align: "center" },
        { text: "Método", value: "seller", align: "center" },
        { text: "Total", value: "total_amount", align: "center" },
        { text: "Pagado", value: "total_paid", align: "center" },
        { text: "Saldo", value: "balance", align: "center" },
        { text: "Creación", value: "created_at", align: "center" },
        { text: "Acciones", value: "actions", align: "center" }
      ];
    },
    onEdit(object) {
      this.sale = object;
      this.sale.fetch();
      this.$router.push({name: "sales-edit", params: { sale: this.sale }});
      this.open = true;
    },
    onShowDetail(object) {
      this.sale = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.sales.fetch();
    },
    openDialog() {
      this.sale = new Sale();
      this.$router.push({name: "sales-new", params: { sale: this.sale }});
      this.open = true;
    },
    onPayment(object) {
      this.sale = object;
      this.sale.fetch();
      this.$router.push({name: "sales-detail", params: { id: this.sale.id }});
    },
    dialogOnCloseEvent() {
      this.sales.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.sales.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.sales.fetch();
    }
  }
};
</script>

<style scoped></style>
