<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-tabs centered fixed-tabs>
      <v-tab>
        Datos generales
      </v-tab>
      <v-tab>
        Pagos
      </v-tab>
      <v-tab-item>
        <SaleGeneralInfo :sale="sale"></SaleGeneralInfo>
      </v-tab-item>
      <v-tab-item>
        <br> 
        <PaymentMain :is-payable="isPayable" :sale="sale" @onUpdateSale="onUpdateSale"></PaymentMain>
        
        
      </v-tab-item>
    </v-tabs>
     <v-card>
      <DialogActions
        color="blue darken-1"
        text="Aceptar"
        @onReject="closed"
        :show-save="showSave"
      ></DialogActions>
    </v-card>
  </div>
</template>

<script>
import CustomToolbar from "../../../components/CustomToolbar";
import Payment from "../../../models/Payments/Payment";
import Payments from "../../../models/Payments/Payments";
import Sale from "../../../models/Sales/Sale";
import SaleGeneralInfo from "./SaleGeneralInfo";
import PaymentMain from "../Payments/PaymentMain"
import DialogActions from "../../../components/DialogActions";


/* import CreateUpdatePaymentType from "./CreateUpdatePaymentType";
import ShowDetailPriceType from "./ShowDetailPriceType"; */

export default {
  name: "ShowSaleDetail",
  components: {
    CustomToolbar,
    SaleGeneralInfo,
    PaymentMain,
    DialogActions
/*     CreateUpdatePaymentType,
    ShowDetailPriceType */
  },
  computed: {
  },
  data() {
    return {
      payments: new Payments(),
      payment: new Payment(),
      title: "",
      open: false,
      headers: [],
      openDetails: false,
      sale: null,
      saleIsLoaded: false,
      detailHeaders: [
          { text: "Producto", value: "product", align: "center" },
          { text: "Precio", value: "price", align: "center" },
          { text: "Tipo precio", value: "type", align: "center" },
          { text: "Cantidad", value: "qty", align: "center" },
          { text: "Total", value: "total_amount", align: "center" },
        ],
      totals: {
        unit_price: 0,
        qty: 0,
        total_price: 0
      },
      showAlert: true,
      isPayable: false,
      showSave: false
    };
  },
  mounted() {
    
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.title = "Venta #: "+this.$route.params.id;
      this.loadSale();
      this.loadPayments();
    },
    loadSale: function() {
      this.sale = new Sale();
      this.sale.set("id", this.$route.params.id);
      this.sale.fetch();
      this.sale.on('fetch', (event)=>{this.validIsPayable()});

    },
    loadPayments() {
      this.payments.set("saleId", this.$route.params.id);
      this.payments.fetch();
    },
    onEdit(object) {
      this.payment = object;
      this.payment.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.payment = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.payments.fetch();
    },
    openDialog() {
      this.payment = new Payment();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.payments.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.payments.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.payments.fetch();
    },
    validIsPayable(){
      this.isPayable = this.sale.balance > 0;
    },
    financial(number) {
      return Number.parseFloat(number).toFixed(2)*1;
    },
    onUpdateSale(){
      this.loadSale();
    },
    closed: function() {
      this.$router.push({ name: "sales" });
    },
  }
};
</script>

<style scoped></style>
