<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline" v-if="!currentMethod.id"
            >Agregar método de venta</span
          >
          <span class="headline" v-if="currentMethod.id"
            >Editar método de venta</span
          >
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="currentMethod.name"
            label="Nombre"
          ></v-text-field>
        </v-card-text>
        <DialogActions
          color="blue darken-1"
          text="Aceptar"
          :loading="loading"
          @onClickSave="saveMethod"
          @onReject="closed"
          :show-save="showSave"
        ></DialogActions>
      </v-card>
    </v-dialog>
    <ErrorSnackBar
      :errorMessage="errorMessage"
      :show="errorShow"
    ></ErrorSnackBar>
  </v-layout>
</template>

<script>
import ErrorSnackBar from "../../../components/ErrorSnackBar";
import SaleMethod from "../../../models/SaleMethod/SaleMethod";
import DialogActions from "../../../components/DialogActions";

export default {
  name: "CreateUpdateSaleMethod",
  components: { ErrorSnackBar, DialogActions },
  props: {
    dialog: Boolean,
    method: SaleMethod
  },
  data() {
    return {
      errorMessage: "",
      errorShow: false,
      loading: false,
      showSave: true
    };
  },
  created() {
    this.errorMessage = "No se pudo realizar la petición.";
  },
  computed: {
    show: {
      get() {
        return this.dialog;
      },
      set(val) {
        return this.dialog;
      }
    },
    currentMethod: {
      get() {
        if (this.method.id) {
          return this.method;
        } else {
          return new SaleMethod();
        }
      }
    }
  },
  methods: {
    closed: function() {
      this.show = false;
      this.$emit("onClose");
    },
    saveMethod: function() {
      this.loading = true;
      var promise;
      var self = this;
      promise = this.currentMethod.save();
      promise
        .then(function() {
          self.loading = false;
          self.show = false;
          self.$emit("onSuccess");
        })
        .catch(function() {
          self.loading = false;
          self.errorShow = true;
        });
    }
  }
};
</script>

<style scoped></style>
