<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :loading="methods.loading"
      :objects="methods"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
    ></TableModel>
    <CreateUpdateSaleMethods
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :method="method"
    ></CreateUpdateSaleMethods>
    <ShowDetailSaleMethods
      @onClose="onCloseDetails"
      :dialog="openDetails"
      :method="method"
    ></ShowDetailSaleMethods>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import CustomToolbar from "../../../components/CustomToolbar";
import SaleMethod from "../../../models/SaleMethod/SaleMethod";
import SaleMethods from "../../../models/SaleMethod/SaleMethods";
import CreateUpdateSaleMethods from "./CreateUpdateSaleMethods";
import ShowDetailSaleMethods from "./ShowDetailSaleMethods";

export default {
  name: "SaleMethodsMain",
  components: {
    CustomToolbar,
    TableModel,
    CreateUpdateSaleMethods,
    ShowDetailSaleMethods
  },
  data() {
    return {
      methods: new SaleMethods(),
      method: new SaleMethod(),
      title: "",
      open: false,
      headers: [],
      openDetails: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.methods.fetch();
      this.title = "Métodos de Venta";
    },
    onEdit(object) {
      this.method = object;
      this.method.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.method = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.methods.fetch();
    },
    openDialog() {
      this.method = new SaleMethod();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.methods.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.methods.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.methods.fetch();
    }
  }
};
</script>

<style scoped></style>
