<template>
  <v-container fluid>
    <v-card v-if="!isFix">
      <v-toolbar color="accent" dark>
        <v-toolbar-title><h2>Nombre: {{ product.name }}</h2></v-toolbar-title>
      </v-toolbar>
      <v-layout row>
        <vue-qr
          :size="400"
          :dotScale="0.6"
          :text="qr"
          :correctLevel="2"
          :bgSrc="selectSrc()"
        ></vue-qr>
        <v-card-text>
          <v-layout column>
            <v-flex >
              <span class="font">Descripción: {{product.description}}</span>
            </v-flex>
            <v-flex >
              <span class="font">Cada frasco contiene: {{ product.contains }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Código de barras: {{ product.barcode }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Fórmula: {{ product.formula }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Cantidad recomendad: {{ product.quantum_satis }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Categoría: {{ category.name }}</span>
            </v-flex>
            <v-flex >
              <span class="font">Vía de administración: {{ via.name }}</span>
            </v-flex>
            <v-flex  v-if="product.country_id">
              <span class="font">País de fabricación: {{ country.name }}</span>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-layout>
    </v-card>
    <v-card v-if="isFix">
      <v-toolbar color="accent" dark>
        <v-toolbar-title><h2>Selecciona tu producto</h2></v-toolbar-title>
      </v-toolbar>
      <v-card-actions>
        <v-layout column>
          <v-btn flat color="success" @click.prevent="showCorrectProduct(16)">Oxandrolone 10</v-btn>
          <v-btn flat color="error" @click.prevent="showCorrectProduct(18)" >Dianabol 25</v-btn>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import Product from "../../models/Products/Product";
import Country from "../../models/Countries/Country";
import Category from "../../models/Categories/Category";
import Via from "../../models/Vias/Via";
import VueQr from "vue-qr";
export default {
  name: "ProductDetails",
  components: { VueQr },
  data() {
    return {
      product: new Product(),
      qr: "",
      country: new Country(),
      category: new Category(),
      via: new Via(),
      src: require("../../assets/logo.png"),
      src2: require("../../assets/logo2.png"),
      src3: require("../../assets/logo3.png"),
      isFix: false,
      click: false,
      isNatural: false,
      isSport: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      var self = this;
      this.qr =
        process.env.VUE_APP_BASE_URL + this.$router.currentRoute.fullPath;
      this.product.id = this.$route.params.id;
      this.click = this.$route.query.click;
      if (parseInt(this.product.id) !== 16 || this.click) {
        this.product.fetch().then(function() {
          self.isNatural = self.checkIsNatural(self.product);
          self.isSport = self.checkIsSport(self.product);
          self.category.id = self.product.category_id;
          self.category.fetch();

          self.via.id = self.product.via_id;
          self.via.fetch();

          if (self.product.country_id) {
            self.country.id = self.product.country_id;
            self.country.fetch();
          }
        });
      } else {
        this.isFix = true;
      }
    },
    showCorrectProduct(id) {
      let routeData = {};
      switch (id) {
        case 16:
          routeData = this.$router.resolve({
            name: "product_detail",
            params: { id: id},
            query: { click: true}
          });
          break;
        case 18:
          routeData = this.$router.resolve({
            name: "product_detail",
            params: { id: id}
          });
          break;
        default:
          break;
      }
      window.open(routeData.href, "_blank");
    },
    checkIsNatural(product) {
      return parseInt(product.category_id) === 3;
    },
    checkIsSport(product) {
      return parseInt(product.category_id) === 4;
    },
    selectSrc() {
      if (this.isNatural) {
        return this.src2;
      } else if (this.isSport) {
        return this.src3;
      }
      return this.src;
    },
    test(dataUrl, id) {
      console.log(url, id)
    }
  }
};
</script>

<style scoped>
.font {
  font-family: Roboto,serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  line-height: normal !important;
  font-size: 36px !important;
  color: #666666 !important;
}
</style>
