<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :loading="methods.loading"
      :objects="methods"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
    ></TableModel>
    <CreateUpdatePaymentMethod
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :method="method"
    ></CreateUpdatePaymentMethod>
    <ShowDetailPaymentMethod
      @onClose="onCloseDetails"
      :dialog="openDetails"
      :method="method"
    ></ShowDetailPaymentMethod>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import CustomToolbar from "../../../components/CustomToolbar";
import PaymentMethod from "../../../models/PaymentMethods/PaymentMethod";
import PaymentMethods from "../../../models/PaymentMethods/PaymentMethods";
import CreateUpdatePaymentMethod from "./CreateUpdatePaymentMethod";
import ShowDetailPaymentMethod from "./ShowDetailPaymentMethod";

export default {
  name: "PaymentMethodsMain",
  components: {
    CustomToolbar,
    TableModel,
    CreateUpdatePaymentMethod,
    ShowDetailPaymentMethod
  },
  data() {
    return {
      method: new PaymentMethod(),
      methods: new PaymentMethods(),
      title: "",
      open: false,
      openDetails: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {

      this.methods.fetch();
      this.title = "Tipos de precio";
    },
    onEdit(object) {
      this.method = object;
      this.method.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.method = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.methods.fetch();
    },
    openDialog() {
      this.method = new PaymentMethod();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.methods.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.methods.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.methods.fetch();
    }
  }
};
</script>

<style scoped></style>
