<template>
  <div>
    <CustomToolbar :title="title"></CustomToolbar>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="#00B23D" dark @click.prevent="openDialog">
        <v-icon>add</v-icon>
        <span>Agregar</span>
      </v-btn>
    </v-card-actions>
    <TableModel
      :loading="types.loading"
      :objects="types"
      @onEdit="onEdit"
      @onDeleteSuccess="onDeleteSuccess"
      @onShowDetails="onShowDetail"
    ></TableModel>
    <CreateUpdateClientType
      @onClose="dialogOnCloseEvent"
      @onSuccess="dialogOnCloseSuccessEvent"
      :dialog="open"
      :m-type="mType"
    ></CreateUpdateClientType>
    <ShowDetailClientType
      @onClose="onCloseDetails"
      :dialog="openDetails"
      :m-type="mType"
    ></ShowDetailClientType>
  </div>
</template>

<script>
import TableModel from "../../../components/TableModel";
import CustomToolbar from "../../../components/CustomToolbar";
import ClientType from "../../../models/ClientType/ClientType";
import ClientTypes from "../../../models/ClientType/ClientTypes";
import CreateUpdateClientType from "./CreateUpdateClientType";
import ShowDetailClientType from "./ShowDetailClientType";

export default {
  name: "ClientTypeMain",
  components: {
    CustomToolbar,
    TableModel,
    CreateUpdateClientType,
    ShowDetailClientType
  },
  data() {
    return {
      types: new ClientTypes(),
      mType: new ClientType(),
      title: "",
      open: false,
      openDetails: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.types.fetch();
      this.title = "Tipos de cliente";
    },
    onEdit(object) {
      this.mType = object;
      this.mType.fetch();
      this.open = true;
    },
    onShowDetail(object) {
      this.mType = object;
      this.openDetails = true;
    },
    onDeleteSuccess() {
      this.types.fetch();
    },
    openDialog() {
      this.mType = new ClientType();
      this.open = true;
    },
    dialogOnCloseEvent() {
      this.types.fetch();
      this.open = false;
    },
    dialogOnCloseSuccessEvent() {
      this.open = false;
      this.types.fetch();
    },
    onCloseDetails() {
      this.openDetails = false;
      this.types.fetch();
    }
  }
};
</script>

<style scoped></style>
