<template>
  <v-btn
    flat
    :loading="loading"
    :disabled="loading"
    :color="color"
    @click="onClick"
  >
    {{ text }}
    <template v-slot:loader>
      <span class="custom-loader">
        <v-icon light>cached</v-icon>
      </span>
    </template>
  </v-btn>
</template>

<script>
export default {
  name: "ButtonSaveLoader",
    props: {
        color: String,
        text: String,
        loading: Boolean
    },
  data() {
    return {
    };
  },
  methods: {
    onClick() {
      this.$emit("onClickSave");
    }
  }
};
</script>

<style scoped>
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
