<template>
  <v-toolbar flat dark color="secondary" app>
    <v-toolbar-title>{{ title }}</v-toolbar-title>
  </v-toolbar>
</template>

<script>
export default {
  name: "CustomToolbar",
  props: {
    title: String
  },
  data() {
    return {

    };
  }
};
</script>

<style scoped></style>
