<template>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn color="red darken-1" flat @click="onReject">Cancelar</v-btn>
    <ButtonSaveLoader
      color="blue darken-1"
      :text="text"
      :loading="loading"
      @onClickSave="onClick"
      v-if="showSave"
    ></ButtonSaveLoader>
  </v-card-actions>
</template>

<script>
import ButtonSaveLoader from "./ButtonSaveLoader";
export default {
  name: "DialogActions",
  components: { ButtonSaveLoader },
  props: {
    color: String,
    text: String,
    loading: Boolean,
    showSave: Boolean
  },
  methods: {
    onClick() {
      this.$emit("onClickSave");
    },
    onReject() {
      this.$emit("onReject");
    }
  }
};
</script>

<style scoped></style>
