<template>
  <v-container>
    <v-snackbar v-model="snackbar" :top="true">
      {{ this.errorMessage }}
      <v-btn color="#2B5F76" @click="resetValidation">Aceptar</v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  name: "ErrorSnackBar",
  props: {
    errorMessage: String,
    show: Boolean
  },
  watch: {
    show: function(val){
      this.snackbar = val;
    }
  },
  computed: {
    snackbar: {
      get() {
        return this.show;
      },
      set(val) {
        return this.show;
      }
    }
  },
  methods: {
    resetValidation() {
      this.snackbar = false;
      this.$emit("onClose");
    }
  }
};
</script>

<style scoped></style>
