<template>
  <v-container fluid>
    <v-flex row>
      <v-layout column>
        <v-flex>
          <v-card class="rounded-card">
            <v-data-table
              :loading="loading"
              loading-text="Cargando, por favor espere."
              :headers="localHeaders"
              :items="objects.models"
              :pagination.sync="pagination"
              item-key="name"
            >
              <template slot="headers" slot-scope="props">
                <tr>
                  <th v-for="header in props.headers" :key="header.text">
                    {{ header.text }}
                  </th>
                </tr>
              </template>
              <template slot="items" slot-scope="props">
                <tr @click="onSelectItem(props.item)">
                  <td>{{ props.item.id }}</td>
                  <td>{{ props.item.unit_price | money }}</td>
                  <td>{{ props.item.type.name }}</td>
                  <td>{{ props.item.type.min_qty }}</td>
                  <td><v-radio-group v-model="selected" class="justify-center">
                        <v-radio :value="props.item.id"></v-radio>
                      </v-radio-group>
                  </td>
                </tr>
              </template>
              <template slot="no-data">
                <v-alert :value="true" color="warning" icon="block">
                  {{noDataLocal}}
                </v-alert>
              </template>
            </v-data-table>
            <v-alert v-model="showAlert" type="error"  >
                      Este campo es requerido.
            </v-alert>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-container>
</template>

<script>
import BaseCollection from "../models/BaseCollection";
import DeleteRegister from "./DeleteRegister";
import Utils from "@/utils/Utils";
export default {
  name: "TablePricesSelection",
  components: { DeleteRegister },
  props: {
    objects: BaseCollection,
    headers: Array,
    showAllFields: Boolean,
    noData: String,
    loading: Boolean,
  },
  data() {
    return {
      pagination: {
        sortBy: "id"
      },
      open: false,
      showDeleteModal: false,
      registerToDelete: null,
      localHeaders: [],
      selected: '',
      noDataLocal: String,
      search: {
        name: ''
      },
      showAlert: true,
      Utils: Utils
    };
  },
  watch: {
    selected: function(val) {
      this.showAlert = !!!val;
    },
    'objects.models': function(){
      this.selected = null;
    }
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      if (this.headers === undefined || this.headers === null) {
        this.localHeaders = [
          { text: "Id", value: "id", align: "center" },
          { text: "Precio", value: "price", align: "center" },
          { text: "Tipo", value: "type", align: "center" },
          { text: "Cantidad mínima", value: "min_qty", align: "center" },
          { text: "Seleccionar", value: "selected", align: "center" },
        ];
      } else {
        this.localHeaders = this.headers;
      }
      if (this.noData === undefined || this.noData === null) {
        this.noDataLocal = "Lo siento, no encontré datos para mostrar :(";
      } else {
        this.noDataLocal = this.noData;
      }
    },
    onSelectItem(item) {
      this.selected = item.id;
      this.$emit("onSelected",item);
    },
  }
};
</script>

<style scoped>
.rounded-card {
  border-radius: 8px;
  height: auto;
  padding: auto;
}
.body1 {
  width: 100%;
}
</style>
