<template>
  <v-container fluid>
    <v-flex row>
      <v-layout column>
        <v-flex>
          <v-card class="rounded-card">
            <v-data-table
              :loading="loading"
              loading-text="Cargando, por favor espere."
              :headers="localHeaders"
              :items="objects.models"
              :pagination.sync="pagination"
              item-key="name"
            >
              <template slot="headers" slot-scope="props">
                <tr>
                  <th v-for="header in props.headers" :key="header.text">
                    {{ header.text }}
                  </th>
                </tr>
              </template>
              <template slot="items" slot-scope="props">
                <tr>
                  <td
                    v-show="showAllFields"
                    v-for="(value, index) in props.item.attributes"
                    v-bind:key="index"
                  >
                    {{ value }}
                  </td>
                  <td v-show="!showAllFields">{{ props.item.id }}</td>
                  <td v-show="!showAllFields">{{ props.item.name }}</td>
                  <td v-if="isProduct(props.item)"><v-chip :color="getColorStock(props.item.stock)" dark>{{ props.item.stock }}</v-chip></td>
                  <td>
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        color="info"
                        dark
                        @click.prevent="onShowDetail(props.item)"
                      >
                        <v-icon>remove_red_eye</v-icon>
                      </v-btn>
                      <span>Ver detalles</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        color="success"
                        dark
                        @click.prevent="openEditDialog(props.item)"
                      >
                        <v-icon>edit</v-icon>
                      </v-btn>
                      <span>Editar</span>
                    </v-tooltip>
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        color="error"
                        dark
                        @click.prevent="deleteRegister(props.item)"
                      >
                        <v-icon>delete</v-icon>
                      </v-btn>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </td>
                </tr>
              </template>
              <template slot="no-data">
                <v-alert :value="true" color="error" icon="warning">
                  {{noDataLocal}}
                </v-alert>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <DeleteRegister
      :register="registerToDelete"
      :dialog="showDeleteModal"
      @onClose="onCloseDeleteRegister"
      @onDeleteSuccess="onDeleteSuccess"
    ></DeleteRegister>
  </v-container>
</template>

<script>
import BaseCollection from "../models/BaseCollection";
import DeleteRegister from "./DeleteRegister";
import Products from "../models/Products/Products";
import Product from "../models/Products/Product";
export default {
  name: "TableModel",
  components: { DeleteRegister },
  props: {
    objects: BaseCollection,
    headers: Array,
    showAllFields: Boolean,
    noData: String,
    loading: Boolean
  },
  data() {
    return {
      pagination: {
        sortBy: "id"
      },
      open: false,
      showDeleteModal: false,
      registerToDelete: null,
      localHeaders: [],
      noDataLocal: String
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      if (this.headers === undefined || this.headers === null) {
        if(this.showStock()){
          this.localHeaders = [
          { text: "Id", value: "productId", align: "center" },
          { text: "Nombre", value: "productName", align: "center" },
          { text: "Stock", value: "stock", align: "center" },
          { text: "Acciones", value: "productsActions", align: "center" }
          ];
        }else {
          this.localHeaders = [
          { text: "Id", value: "productId", align: "center" },
          { text: "Nombre", value: "productName", align: "center" },
          { text: "Acciones", value: "productsActions", align: "center" }
        ];
        }
        
      } else {
        this.localHeaders = this.headers;
      }
      if (this.noData === undefined || this.noData === null) {
        this.noDataLocal = "Lo siento, no encontré datos para mostrar :(";
      } else {
        this.noDataLocal = this.noData;
      }
    },
    openEditDialog(object) {
      this.$emit("onEdit", object);
    },
    deleteRegister(object) {
      this.showDeleteModal = true;
      this.registerToDelete = object;
    },
    onShowDetail(object) {
      this.$emit("onShowDetails", object);
    },
    onCloseDeleteRegister() {
      this.showDeleteModal = false;
    },
    onDeleteSuccess() {
      this.showDeleteModal = false;
      this.$emit("onDeleteSuccess");
    },
    showStock() {
      return this.objects instanceof Products;
    },
    isProduct(object) {
      return object instanceof Product;
    },
    getColorStock(stock) {
        if (stock > 0) return 'green'
        else return 'red'
      
    },
  }
};
</script>

<style scoped>
.rounded-card {
  border-radius: 8px;
  height: auto;
  padding: auto;
}
.body1 {
  width: 100%;
}
</style>
