<template>
  <v-container fluid>
    <v-flex row>
      <v-layout column>
        <v-flex>
          <v-card class="rounded-card">
            <v-data-table
              :loading="loading"
              :headers="localHeaders"
              :items="objects"
              item-key="name"
              :total-items="objects.length"
              :pagination.sync="pagination"
            >
              <template slot="headers" slot-scope="props">
                <tr>
                  <th v-for="header in props.headers" :key="header.text">
                    {{ header.text }}
                  </th>
                </tr>
              </template>
            
              <template slot="items" slot-scope="props">
                <tr>
                  <td>{{ props.item.name }}</td>
                  <td>{{ props.item.operation === "+" ? "Sumar" : "Restar"}}</td>
                  <td><v-chip :color="getColor(props.item.operation,props.item.total_amount)" dark>
                    {{ props.item.total_amount | money }}</v-chip></td>
                  <td v-if="actions">
                    <v-tooltip top>
                      <v-btn
                        slot="activator"
                        icon
                        color="error"
                        dark
                        @click.prevent="deleteRegister(props.index)"
                      >
                        <v-icon>delete</v-icon>
                      </v-btn>
                      <span>Eliminar</span>
                    </v-tooltip>
                  </td>
                </tr>
              </template>
              <template slot="no-data">
                <v-alert :value="true" color="error" icon="warning">
                  {{ noDataLocal }}
                </v-alert>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-container>
</template>

<script>
import Utils from "@/utils/Utils"
export default {
  name: "TableConcepts",
  props: {
    objects: Array,
    headers: Array,
    actions: Boolean,
    noData: String,
    loading: Boolean
  },
  data() {
    return {
      open: false,
      showDeleteModal: false,
      registerToDelete: null,
      localHeaders: [],
      noDataLocal: String,
      pagination: {
        rowsPerPage: 5,
      },
      Utils: Utils
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      if (this.actions) {
        this.localHeaders = [
          
          { text: "Nombre", value: "productName", align: "center" },
          { text: "Operacion", value: "productName", align: "center" },
          { text: "Monto", value: "productName", align: "center" },
          { text: "Acciones", value: "productsActions", align: "center" }
        ];
      } else {
        this.localHeaders = [
        
          { text: "Nombre", value: "productName", align: "center" },
          { text: "Operacion", value: "productName", align: "center" },
          { text: "Monto", value: "productName", align: "center" }
        ];
      }
      this.noDataLocal = "Lo siento, no encontré datos para mostrar :(";
    },
    openEditDialog(object) {
      this.$emit("onEdit", object);
    },
    deleteRegister(index) {
      this.$emit("onDeleteConcept",index);
    },
    getColor(operation, totalAmount) {
        if (operation === '+') return 'green'
        else if (operation === '-') return 'red'
        else return 'green'
      
    },
    calcConceptTotals() {
      this.totals_concepts =
      this.financial(this.currentSale.concepts.reduce((a,b) =>
        b.operation === "+" ? 
        (parseFloat(a) + parseFloat(b.total_amount)) : 
        (parseFloat(a) - parseFloat(b.total_amount)),0));
    },
    financial(number) {
      return Number.parseFloat(number).toFixed(2)*1;
    },

  }
};
</script>

<style scoped>
.rounded-card {
  border-radius: 8px;
  height: auto;
  padding: auto;
}
.body1 {
  width: 100%;
}
</style>
