<template>
  <v-container fluid>
    <v-flex row>
      <v-layout column>
        <v-flex>
          <v-card class="rounded-card">
            <v-card-title>
              <div class="flex-grow-1"></div>
              <v-text-field
                v-model="search.name"
                append-icon="search"
                label="Búsqueda..."
                single-line
                hide-details
                clearable
                @blur="searchAction"
                @click:append="searchAction"
                @keyup.enter="searchAction"
                @keyup.esc="search.name = ''"
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :loading="loading"
              loading-text="Cargando, por favor espere."
              :headers="localHeaders"
              :items="objects.models"
              :pagination.sync="pagination"
              item-key="name"
            >
              <template slot="headers" slot-scope="props">
                <tr>
                  <th v-for="header in props.headers" :key="header.text">
                    {{ header.text }}
                  </th>
                </tr>
              </template>
              <template slot="items" slot-scope="props">
                
                <tr @click="onSelectItem(props.item)">
                  <td
                    v-show="showAllFields"
                    v-for="(value, index) in props.item.attributes"
                    v-bind:key="index"
                  >
                    {{ value }}
                  </td>
                  <td v-show="!showAllFields">{{ props.item.id }}</td>
                  <td v-show="!showAllFields">{{ props.item.name }}</td>
                  <td><v-radio-group v-model="selected" class="justify-center">
                        <v-radio :value="props.item.id"></v-radio>
                      </v-radio-group>
                  </td>
                </tr>
              </template>
              <template slot="no-data">
                <v-alert :value="true" color="warning" icon="block">
                  {{noDataLocal}}
                </v-alert>
              </template>
            </v-data-table>
            <v-alert v-model="showAlert" type="error"  >
                      Este campo es requerido.
            </v-alert>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-container>
</template>

<script>
import BaseCollection from "../models/BaseCollection";
import DeleteRegister from "./DeleteRegister";
export default {
  name: "TableModel",
  components: { DeleteRegister },
  props: {
    objects: BaseCollection,
    headers: Array,
    showAllFields: Boolean,
    noData: String,
    loading: Boolean,
  },
  data() {
    return {
      pagination: {
        sortBy: "id"
      },
      open: false,
      showDeleteModal: false,
      registerToDelete: null,
      localHeaders: [],
      selected: '',
      noDataLocal: String,
      search: {
        name: ''
      },
      showAlert: true
    };
  },
  watch: {
    selected: function(val) {
      this.showAlert = !!!val;
      if(this.showAlert === true) {
        this.onNoSelectItem();
      }
    },
    'objects.models': function() {
      this.selected = null;
    }
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      if (this.headers === undefined || this.headers === null) {
        this.localHeaders = [
          { text: "Id", value: "productId", align: "center" },
          { text: "Nombre", value: "productName", align: "center" },
          { text: "Seleccionar", value: "selected", align: "center" },
        ];
      } else {
        this.localHeaders = this.headers;
      }
      if (this.noData === undefined || this.noData === null) {
        this.noDataLocal = "Lo siento, no encontré datos para mostrar :(";
      } else {
        this.noDataLocal = this.noData;
      }
    },
    onSelectItem(item) {
      this.selected = item.id;
      this.$emit("onSelected",item);
    },
    onNoSelectItem() {
      this.$emit("onNoSelected");
    },
    searchAction() {
      this.selected = null;
      this.objects.search(this.search);
      
    }
  }
};
</script>

<style scoped>
.rounded-card {
  border-radius: 8px;
  height: auto;
  padding: auto;
}
.body1 {
  width: 100%;
}
</style>
