<template>
  <v-container fluid>
    <v-flex row>
      <v-layout column>
        <v-flex>
          <v-card class="rounded-card">
            <v-data-table
              :loading="loading"
              :headers="localHeaders"
              :items="objects.models"
              :pagination.sync="pagination"
              item-key="name"
            >
            
              <template slot="items" slot-scope="props">
                <tr>
                  <td>{{ props.item.id }}</td>
                  <td>{{ props.item.name }}</td>
                  <td>{{ props.item.type.name }}</td>
                  <td >{{ props.item.total_amount | money }}</td>
                  <td><v-chip :color="getColorTotalPaid(props.item.total_paid, props.item.total_amount)" dark>
                    {{ props.item.total_paid | money }}</v-chip></td>
                  <td><v-chip :color="getColorBalance(props.item.balance,  props.item.total_amount)" dark>
                    {{ props.item.balance | money }}</v-chip></td>
                  <td >
                  <v-tooltip top>
                    <v-btn
                      slot="activator"
                      icon
                      color="success"
                      dark
                      @click.prevent="openEditDialog(props.item)"
                    >
                      <v-icon>edit</v-icon>
                    </v-btn>
                    <span>Editar</span>
                  </v-tooltip>
                  <v-tooltip top>
                    <v-btn
                      slot="activator"
                      icon
                      color="error"
                      dark
                      @click.prevent="deleteRegister(props.item)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                    <span>Eliminar</span>
                  </v-tooltip>
                  </td>
                </tr>
              </template>
              <template slot="no-data">
                <v-alert :value="true" color="error" icon="warning">
                  {{ noDataLocal }}
                </v-alert>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <DeleteRegister
      :register="registerToDelete"
      :dialog="showDeleteModal"
      @onClose="onCloseDeleteRegister"
      @onDeleteSuccess="onDeleteSuccess"
    ></DeleteRegister>
  </v-container>
</template>

<script>
import BaseCollection from "../models/BaseCollection";
import DeleteRegister from "./DeleteRegister";
import Utils from "@/utils/Utils"
export default {
  name: "TableClients",
  components: { DeleteRegister },
  props: {
    objects: BaseCollection,
    headers: Array,
    showAllFields: Boolean,
    noData: String,
    loading: Boolean
  },
  data() {
    return {
      pagination: {
        sortBy: "id"
      },
      open: false,
      showDeleteModal: false,
      registerToDelete: null,
      localHeaders: [],
      noDataLocal: String,
      Utils: Utils,
      isMobile: true
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      if (this.headers === undefined || this.headers === null) {
        this.localHeaders =  [
        { text: "Id", value: "id", align: "center" },
        { text: "Nombre", value: "price", align: "center" },
        { text: "Tipo", value: "type", align: "center" },
        { text: "Total", value: "total_amount", align: "center" },
        { text: "Pagado", value: "total_paid", align: "center" },
        { text: "Saldo", value: "balance", align: "center" },
        { text: "Acciones", value: "action", align: "center" }
        ];
      } else {
        this.localHeaders = this.headers;
      }
      if (this.noData === undefined || this.noData === null) {
        this.noDataLocal = "Lo siento, no encontré datos para mostrar :(";
      } else {
        this.noDataLocal = this.noData;
      }
    },
    openEditDialog(object) {
      this.$emit("onEdit", object);
    },
    deleteRegister(object) {
      this.showDeleteModal = true;
      this.registerToDelete = object;
    },
    onShowDetail(object) {
      this.$emit("onShowDetails", object);
    },
    onCloseDeleteRegister() {
      this.showDeleteModal = false;
    },
    onDeleteSuccess() {
      this.showDeleteModal = false;
      this.$emit("onDeleteSuccess");
    },
    getColorBalance(balance, totalAmount) {
        if (balance === totalAmount) return 'red'
        else if (balance > 0) return 'orange'
        else return 'green'
      
    },
    getColorTotalPaid(totalPaid, totalAmount) {
        if (totalPaid === totalAmount) return 'green'
        else if (totalPaid > 0) return 'orange'
        else return 'red'
      
    }
  }
};
</script>

<style scoped>
.rounded-card {
  border-radius: 8px;
  height: auto;
  padding: auto;
}
.body1 {
  width: 100%;
}
</style>
