<template>
  <v-container class="dashboard_body">
    <v-layout>
      <v-content class="container">
        <router-view />
      </v-content>
      <v-navigation-drawer
        persistent
        app
        class="fill-height"

        floating
        mobile-break-point="991"
        enable-resize-watcher
      >
        <v-toolbar flat class="align-content-end">
          <v-list>
            <v-list-tile >
              <v-list-tile-avatar>
                <img alt="ScitecPharma" src="../../assets/logo.jpg" />
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title class="title">
                  ScitecPharma
                </v-list-tile-title>
                <v-list-tile-sub-title>
                  Panel de administración
                </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-toolbar>

        <v-divider></v-divider>
        <v-list>
          <v-list-group
                  v-for="section in sections"
                  :key="section.title"
          >
            <v-list-tile
                    slot="activator"
            >
              <v-list-tile-action>
                <v-icon>{{ section.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title >{{ section.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list class="pt-0" dense>
              <v-list-tile
                      active-class="accent"
                      v-for="sub in section.sub"
                      :key="sub.title"
                      :to="sub.link"
              >
                <v-list-tile-action>
                  <v-icon>{{ sub.icon }}</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                  <v-list-tile-title>{{ sub.title }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-list-group>
        </v-list>
        <v-divider></v-divider>
        <v-btn color="error" dark @click.prevent="closeSession" large block>
          <v-icon>cancel_schedule_send</v-icon>
          <span>Cerrar Sesión</span>
        </v-btn>

      </v-navigation-drawer>
    </v-layout>

  </v-container>

</template>

<script>
export default {
  name: "Dashboard",
  data() {
    return {
      sections: [],
      mini: true
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.sections = [
        {
          title: "Productos",
          icon: "list_alt",
          sub: [
            {
              title: "Lista de productos",
              icon: "list",
              link: "/admin/products"
            },
            {
              title: "Categorías",
              icon: "category",
              link: "/admin/categories"
            },
            {
              title: "Vías de administración",
              icon: "colorize",
              link: "/admin/vias"
            },
            { title: "Países", icon: "public", link: "/admin/countries" },
            {
              title: "Tipos de precio",
              icon: "local_atm",
              link: "/admin/price-types"
            }
          ]
        },
        {
          title: "Ventas",
          icon: "attach_money",
          sub: [
            {title: "Vendedores",icon: "person", link: "/admin/sellers"},
            {
              title: "Métodos de venta",
              icon: "contact_phone",
              link: "/admin/sale-methods"
            },
            {
              title: "Métodos de pago",
              icon: "payment",
              link: "/admin/payment-methods"
            },
            {
              title: "Tipos de pago",
              icon: "account_balance_wallet",
              link: "/admin/payment-types"
            },
            {
              title: "Contabilidad",
              icon: "assessment",
              link: "/admin/sales"
            },
          ],
        },
        {
          title: "Clientes",
          icon: "group_add",
          sub: [
             {
              title: "Lista de clientes",
              icon: "face",
              link: "/admin/clients"
            },
            {
              title: "Tipos de cliente",
              icon: "perm_identity",
              link: "/admin/client-types"
            }
          ]
        }
      ];
    },
    closeSession: function() {
            var self = this;
            this.$store.dispatch('logout')
                .then(() => self.$router.push({ name: "auth" }))
                .catch(err => console.log(err))
        }
  },
  mounted() {
    this.$router.push({ name: "products" });
  }
};
</script>

<style scoped>
.dashboard_body {
  height: 100%;
  max-width: 100vw;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
</style>
