<template>
  <v-app id="app">
    <router-view />

  </v-app>
</template>

<script>
export default {
  name: 'App',
  created: function () {
    var self = this;
    this.$http.interceptors.response.use(undefined, function (err) {
      return new Promise(function (resolve, reject) {
        if (err.response.status === 401) {
          var self2 = self;
          self.$store.dispatch('logout')
                .then(() => self2.$router.push({ name: "auth" }))
                .catch(err => console.log(err))
        }
        throw err;
      });
    });
  }
}
</script>
<style lang="css">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
